@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(3, 7, 18);
  --foreground: rgb(249, 250, 251);
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: rgb(249, 250, 251);*/
/*    --foreground: rgb(3, 7, 18);*/
/*  }*/
/*}*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.country:hover {
  cursor: url('/nigeria.png') 20 20, auto;;
}

.waving-hand {
  display: inline-block;
}

.waving {
  animation: wave 1.8s ease-in-out;
}

@keyframes wave {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(-10deg); }
  20% { transform: rotate(12deg); }
  30% { transform: rotate(-10deg); }
  40% { transform: rotate(9deg); }
  50% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}
