.country:hover {
    cursor: url('../../public/images/nigeria.png') 20 20, auto;;
}

body{
    cursor: none;
}

.waving-hand {
    display: inline-block;
}

.waving {
    animation: wave 1.8s ease-in-out;
}

@keyframes wave {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(-10deg); }
    20% { transform: rotate(12deg); }
    30% { transform: rotate(-10deg); }
    40% { transform: rotate(9deg); }
    50% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

.fade-image {
    animation: fade 6s infinite;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    33% {
        opacity: 1;
    }
    53% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}